/* DEFULT CSS */

*{
    padding:0;
    margin:0;
}
.text-left{
    text-align:left;
}
.text-right{
    text-align:right;
}
.text-center{
    text-align:center;
}
.clear::after{
    content:"";
    clear:both;
    display:block;
}
.left{
    float:left;
}
.right{
    float:right;
}
img{
    max-width:100%;
}
a{
    text-decoration:none;
}
.main-content{
    max-width:1200px;
    margin:auto;
}
body{
    font-family: 'Work Sans', sans-serif;
}

/* HEADER SECTION */

.header-section{
    background:#fff;
    border-bottom:1px solid #ddd;
    padding:5px 0;
}
.header-section a{
    color:#010101;
}
.header-logo{
    width:30%;
}
.header-menu{
    width:60%;
}
.logo img{
    height:60px;
    float:left;
    margin-right:10px;
}
.logo span{
    display:inline-block;
    font-size:20px;
    font-weight:500px;
    margin-top:15px;
}
.header-button{
    width:10%;
    float:right;
}
.header-btn{
    border:2px solid #6278DF;
    display:inline-block;
    padding:10px 20px;
    border-radius:10px;
    margin-top:7px;
    color:#6278DF !important;
    font-weight:500px;
    font-size:15px;
}
.header-button:hover a{
    color:#fff !important;
    background:#6278DF;
}

.main-menu{
    
}
.main-menu ul{

}
.main-menu ul li{
    display:inline-block;
}
.main-menu ul li a{
    display:block;
    padding:0px 20px;
    font-size:16px;
    line-height:55px;
}
.main-menu ul li a:hover{

}

/*DROP DOWN MENU*/

.main-menu ul li{
    position:relative;
}
.main-menu ul li ul{
    position:absolute;
    left:0;
    top:100%;
    width:250px;
    background:#fff;

    opacity:0;
    visibility:hidden;
    transition: .8s;
    
}
.main-menu ul li:hover ul{
    opacity:1;
    visibility:visible;
}

