/* DEFAULT CSS */

*{
    padding:0;
    margin:0;
}
.text-left{
    text-align:left;
}
.text-right{
    text-align:right;
}
.text-center{
    text-align:center;
}
.clear::after{
    content:"";
    clear:both;
    display:block;
}
.left{
    float:left;
}
.right{
    float:right;
}
img{
    max-width:100%;
}
a{
    text-decoration:none;
}
.main-content{
    max-width:1200px;
    margin:auto;
}
body{
    font-family: 'Work Sans', sans-serif;
}

/* HEADER SECTION */

.header-section{
    background:#fff;
    border-bottom:1px solid #ddd;
    padding:5px 0;
}
.header-section a{
    color:#010101;
}
.header-logo{
    width:30%;
}
.header-menu{
    width:60%;
}
.logo img{
    height:60px;
    float:left;
    margin-right:10px;
}
.logo span{
    display:inline-block;
    font-size:20px;
    font-weight:500px;
    margin-top:15px;
}
.header-button{
    width:10%;
    float:right;
}
.header-btn{
    border:2px solid #6278DF;
    display:inline-block;
    padding:10px 20px;
    border-radius:10px;
    margin-top:7px;
    color:#6278DF !important;
    font-weight:500px;
    font-size:15px;
}
.header-button:hover a{
    color:#fff !important;
    background:#6278DF;
}

.main-menu{
    
}
.main-menu ul{

}
.main-menu ul li{
    display:inline-block;
}
.main-menu ul li a{
    display:block;
    padding:0px 20px;
    font-size:16px;
    line-height:55px;
}
.main-menu ul li a:hover{

}

/*DROP DOWN MENU*/

.main-menu ul li{
    position:relative;
}
.main-menu ul li ul{
    position:absolute;
    left:0;
    top:100%;
    width:190px;
    background:#fff;

    opacity:0;
    visibility:hidden;
    transition: .8s;
    z-index:10;
    
}
.main-menu ul li:hover ul{
    opacity:1;
    visibility:visible;
}

/* BANNER SECTION */

.banner-section{
    background: url("picture/mbr-4\(3\).jpg")no-repeat center center;
    background-size:cover;
    padding:220px 0;
    color:#fff;

    position:relative;
    z-index:9;

}
.banner-section::after{
    content:"";
    position:absolute;
    left:0;
    right:0;
    top:0;
    height:100%;
    width:100%;

    background: rgba(0, 0, 0, .4);
    z-index: -1;

}
.banner-content{

}
.banner-content h3{
    font-size:30px;
    font-weight:200px;
}
.banner-content h2{
    font-size:60px;
    padding:10px 0;
    font-weight:300px;
}
.default-btn{
    color:#7d7d7d;
    padding:15px 20px;
    background:#fff;
    display:inline-block;
    font-size:18px;
    font-weight:300px;
    border-radius:5px;
}
.default-btn:hover{
    color:#fff;
    background:#6278DF;
    transition: .4s;
}

/* BANNER BOTTOM SECTION */

.banner-bottom-section{
    background:#F7F9FF;
    padding:100px 0;
}
.video-left{
    width:48%;
}
.text-right{
    width:48%;
}
.text-right h3{
    font-size:36px;
    font-weight:200px;
    margin-bottom:40px;
    text-align:left;
}
.text-right p{
    color:#A78687;
    font-size:20px;
    line-height:1.5;
    text-align:left;
}

/*SERVICE SECTION*/

.service-section{
    background:#FFFFFF;
    padding:45px 0;
}
.service-section h2{
    font-size:60px;
    margin-bottom:30px;
}
.service-section p{
    font-size:26px;
    color:#877687;
    margin-bottom:60px;
}

/* SERVICE BOX SECTION */

.service-box{
    width:31%;
    box-shadow: 4px 4px 20px 0 rgba(0,0,0,.1);
    margin-right:2%;
    margin-bottom:25px;
    box-sizing:border-box;
    padding:35px;
    
}
.service-icon{
    width:60px;
    float:left;
    min-height:110px;
    font-size:40px;
    color:#6278DF;
    margin-right:5px;
}

.service-content{

}

.service-content h3{
    font-size:25px;
    font-weight:500;
    margin-bottom:20px;
}
.service-content p{
    font-size:20px;
    color:#987698;
}

/*PRICING SECTION*/

.pricing-section{

}

.pricing-section-title{
    background:#F7F9FF;
    padding:50px 0;
}
.pricing-section-title h1{
    font-size:60px;
    font-weight:400;
    margin-bottom:15px;
}
.pricing-section-title p{
    color:#9D99C9;
    font-size:24px;

}

/*PRICING TABLE ITEM SECTION*/

.pricing-table-items{
    
}

.pricing-table-item{
    width:31.3%;
    margin-right:2%;
    background:#fff;
    box-shadow:3px 4px 30px 0 rgba(98, 120, 223,.1); 
}
.pricing-table-item nth-child(3){
    margin-right:0;
}
.pricing-heading{
    padding:40px;
    border-bottom:1px solid black;
    line-height:1.5;
}
.pricing-content{
    padding:30px;
}

.pricing-heading h4{
    font-size:25px;
    font-weight:500;
}
.pricing-heading h1{
    font-size:40px;
    margin:25px 0;
}

.pricing-heading h1 span{
    font-size:21px;
}
.pricing-heading h5{
    font-size:25px;
    font-weight:450;
    margin-bottom:10px;
}
.pricing-heading p{
    font-size:20px;
    color:#d#FFFFFF;
}
.pricing-content{

}
.pricing-content ul{
    list-style:none;
}
.pricing-content ul span{
    display:inline-block;
    font-size:33px;
    color:#6278DF;
    width:60px;
}
.pricing-content ul li{
    margin:20px 0;
    color:#A7819A;
    font-size:20px;
    margin:20px;
}
.pricing-btn{
    box-shadow:3px 4px 30px 0 rgba(98, 120, 223,.2);
    width:162px;
    height:auto;
    margin:auto;
}

.pricing-table-item:hover .pricing-heading{
    background:#6278DF;
    color:#fff;
    transition: 0.4s;
}

/*TEAM SECTION*/

.team-section{
    padding:50px 0;
    
}
.team-members{
    margin-top:50px;
}
.all-member{
    width:23%;
    margin-right:2%;
    background:#fff;
    box-shadow:3px 4px 30px 0 rgba(98, 120, 223,.2);
}
.all-member img{
    width:100%;
    border-radius:10px 10px 0 0;
}
.member-title{
    padding:30px;
}
.member-title h3{
    font-size:30px;
    font-weight:400;
    padding-bottom:13px;
}
.member-title p{
    font-size:22px;
    color:#A8A4C5;
}

/* SUBSCRIBE SECTION */

.subscribe-title{
    padding:100px 0;
    background:#F7F9FF;
}
.subscribe-title p{
    font-size:25px;
    color:#B49279;
}
.subscribe-title h1{
    font-size:47px;
    font-weight:400;
    margin-top:20px;
    margin-bottom:25px;
}

/* SUBSCRIBE BUTTON*/

.subscribe-section{

}
.input-subscribe-form{
   
}
.subscribe{
    padding:20px 30px;
    font-size:20px;
    border:1px solid #e4e4e4;
    border-radius:10px;
}
.submit-btn{
    background-color: #6278DF;
    font-size:20px;
    border:1px solid #e4e4e4;
    border-radius:10px;
    padding:20px 62px;
    color:white;
}
.submit-btn:hover{
    background:#fff;
    color:#6278DF;
    transition: .4s;
}

/*BLOG SECTION*/


