/* DEFAULT CSS */

*{
    padding:0;
    margin:0;
}
.text-left{
    text-align:left;
}
.text-right{
    text-align:right;
}
.text-center{
    text-align:center;
}
.clear::after{
    content:"";
    clear:both;
    display:block;
}
.left{
    float:left;
}
.right{
    float:right;
}
img{
    max-width:100%;
}
a{
    text-decoration:none;
}
.main-content{
    max-width:1200px;
    margin:auto;
}
body{
    font-family: 'Work Sans', sans-serif;
}

/* HEADER SECTION */

.header-section{
    background:#fff;
    border-bottom:1px solid #ddd;
    padding:5px 0;
}
.header-section a{
    color:#010101;
}
.header-logo{
    width:30%;
}
.header-menu{
    width:60%;
}
.logo img{
    height:60px;
    float:left;
    margin-right:10px;
}
.logo span{
    display:inline-block;
    font-size:20px;
    font-weight:500px;
    margin-top:15px;
}
.header-button{
    width:10%;
    float:right;
}
.header-btn{
    border:2px solid #6278DF;
    display:inline-block;
    padding:10px 20px;
    border-radius:10px;
    margin-top:7px;
    color:#6278DF !important;
    font-weight:500px;
    font-size:15px;
}
.header-button:hover a{
    color:#fff !important;
    background:#6278DF;
}

.main-menu{
    
}
.main-menu ul{

}
.main-menu ul li{
    display:inline-block;
}
.main-menu ul li a{
    display:block;
    padding:0px 20px;
    font-size:16px;
    line-height:55px;
}
.main-menu ul li a:hover{

}

/*DROP DOWN MENU*/

.main-menu ul li{
    position:relative;
}
.main-menu ul li ul{
    position:absolute;
    left:0;
    top:100%;
    width:190px;
    background:#fff;

    opacity:0;
    visibility:hidden;
    transition: .8s;
    z-index:10;
    
}
.main-menu ul li:hover ul{
    opacity:1;
    visibility:visible;
}

/* BANNER SECTION */

.banner-section{
    background: url("picture/mbr-4\(3\).jpg")no-repeat center center;
    background-size:cover;
    padding:220px 0;
    color:#fff;

    position:relative;
    z-index:9;

}
.banner-section::after{
    content:"";
    position:absolute;
    left:0;
    right:0;
    top:0;
    height:100%;
    width:100%;

    background: rgba(0, 0, 0, .4);
    z-index: -1;

}
.banner-content{

}
.banner-content h3{
    font-size:30px;
    font-weight:200px;
}
.banner-content h2{
    font-size:60px;
    padding:10px 0;
    font-weight:300px;
}
.default-btn{
    color:#7d7d7d;
    padding:15px 20px;
    background:#fff;
    display:inline-block;
    font-size:18px;
    font-weight:300px;
    border-radius:5px;
}
.default-btn:hover{
    color:#fff;
    background:#6278DF;
    transition: .4s;
}

/* BANNER BOTTOM SECTION */

.banner-bottom-section{
    background:#F7F9FF;
    padding:100px 0;
}
.video-left{
    width:48%;
}
.text-right{
    width:48%;
}
.text-right h3{
    font-size:36px;
    font-weight:200px;
    margin-bottom:40px;
    text-align:left;
}
.text-right p{
    color:#A78687;
    font-size:20px;
    line-height:1.5;
    text-align:left;
}

/*SERVICE SECTION*/

.service-section{
    background:#FFFFFF;
    padding:100px 0;
}
.service-section h2{
    font-size:60px;
    margin-bottom:30px;
}
.service-section p{
    font-size:26px;
    color:#877687;
    margin-bottom:60px;
}

/* SERVICE BOX SECTION */

.service-box{
    width:31%;
    box-shadow: 4px 4px 20px 0 rgba(0,0,0,.1);
    margin-right:2%;
    margin-bottom:25px;
    box-sizing:border-box;
    padding:35px;
    
}
.service-icon{
    width:60px;
    float:left;
    min-height:110px;
    font-size:40px;
    color:#6278DF;
    margin-right:5px;
}

.service-content{

}

.service-content h3{
    font-size:25px;
    font-weight:500;
    margin-bottom:30px;
}
.service-content p{
    font-size:20px;
    color:#987698;
}